set const
set smooth
set regexp
set nohelp
unset historylog
set autoindent
set tempfile

set backup
set backupdir "~/temp/nano/"

unset mouse

include ~/nanorc/asm.nanorc
include ~/nanorc/awk.nanorc
include ~/nanorc/c.nanorc
include ~/nanorc/cmake.nanorc
include ~/nanorc/css.nanorc
include ~/nanorc/debian.nanorc
include ~/nanorc/fortran.nanorc
include ~/nanorc/gentoo.nanorc
include ~/nanorc/groff.nanorc
include ~/nanorc/html.nanorc
include ~/nanorc/java.nanorc
include ~/nanorc/makefile.nanorc
include ~/nanorc/man.nanorc
include ~/nanorc/mgp.nanorc
include ~/nanorc/mutt.nanorc
include ~/nanorc/nanorc.nanorc
include ~/nanorc/objc.nanorc
include ~/nanorc/ocaml.nanorc
include ~/nanorc/patch.nanorc
include ~/nanorc/perl.nanorc
include ~/nanorc/php.nanorc
include ~/nanorc/pov.nanorc
include ~/nanorc/python.nanorc
include ~/nanorc/ruby.nanorc
include ~/nanorc/sh.nanorc
include ~/nanorc/tcl.nanorc
include ~/nanorc/tex.nanorc
include ~/nanorc/xml.nanorc
